/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
   
}



.body-container {
     width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px; 
  }  

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* TRANSITION */
a, .btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: rgb(172, 164, 164);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/* HAMBURGERMENU */

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.8 ease-in-out;

}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
   opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/* SECTIONS */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* Profile section */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
}

.section__text-p1{
    /* font-size: 1.7rem; */
    text-align: center;
}

.section__text-p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 2.5rem;
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */
.icon{
    cursor: pointer;
    height: 2rem;
    gap: 2rem !important;
    
}

/* Buttons */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
}



.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.check-btn{
  position: absolute;
  align-items: center;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover{
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover{
    background-color: rgb(0, 0, 0);
}

.btn-color-2{
    background:none;
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

/* ABOUT */

#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
}


.details-container{
    padding: 1.5rem;
    flex:1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    text-align: center;
}


.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Experience section */

#experience{
    position: relative;
}
.experience-sub-title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}


.arrow1{
    position: absolute;
    right: -5rem;
    bottom: 5rem;
}

 /* Projects section */
#projects{
    position: relative;
    align-items: center;
    text-align: center;
}



.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: black;
}

.project-btn{
    color: black;
    border: rgb(163, 163, 163);
} 


.arrow2{
    position: absolute;
    right: -5rem;
    bottom: 5rem;
}

/* CONTACT */
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
    background:rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.email-icon{
    height: 2.5rem;
}

/* Footer */

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


@keyframes appear {
    /* from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  } */
   from{
    opacity: 0;
    scale: 0.5;
   }
   to{
    opacity: 1;
    scale: 1;
   }
}


  .block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  /* loader animation */
  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
     --path: #2f3545; 
     --dot: #7d6fac; 
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
    display: inline-block;
    margin: 0 16px;
  }
  
  .loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .loader svg rect,
  .loader svg polygon,
  .loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader.triangle {
    width: 48px;
  }
  
  .loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  @keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
    66% {
      stroke-dashoffset: 147;
    }
    100% {
      stroke-dashoffset: 221;
    }
  }
  
  @keyframes dotTriangle {
    33% {
      transform: translate(0, 0);
    }
    66% {
      transform: translate(10px, -18px);
    }
    100% {
      transform: translate(-10px, -18px);
    }
  }
  
  @keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
    50% {
      stroke-dashoffset: 128;
    }
    75% {
      stroke-dashoffset: 192;
    }
    100% {
      stroke-dashoffset: 256;
    }
  }
  
  @keyframes dotRect {
    25% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(18px, -18px);
    }
    75% {
      transform: translate(0, -36px);
    }
    100% {
      transform: translate(-18px, -18px);
    }
  }
  
  @keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
    50% {
      stroke-dashoffset: 175;
    }
    75% {
      stroke-dashoffset: 225;
    }
    100% {
      stroke-dashoffset: 275;
    }
  }
  
  .loaded #loader-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
  }


  /* Logo animation */
  .logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: inline-block;
  }
  
  .logo-text {
    color: black; /* Adjust this to match your design */
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .logo-text::before,
  .logo-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #cfcfcf;
    transition: width 0.5s ease;
  }
  
  .logo-text::before {
    left: 0;
    top: 0;
  }
  
  .logo-text::after {
    right: 0;
    bottom: 0;
  }
  
  .logo:hover .logo-text::before,
  .logo:hover .logo-text::after {
    width: 100%;
  }


  /* button */
.explore-all  {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 20px;
  background-color: rgb(250, 250, 250);
  color: rgb(53, 53, 53);
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.explore-all i {
    margin-right: 10px;
}